<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
body {
  font-family: sans-serif;
  font-size:16px;
   /*1em = 16px*/
  color:#191919;
}


article {
  font-size:20px;
  background-color:green;
  width: 35em;
  margin: 2.375em auto;
  padding: 4em;
  border: .25em solid #191919;
  color:white;
}

h1 {
  font-size: 2em;
  margin: 0 0 .5em;
}

p {
  font-size: 1em;
  margin: 0;
  line-height: 1.618em;
}

@media screen and (max-width:740px){
  article{
    font-size:12px;
    color:blue;
  }
}



    </style>
</head>
<body>
    <body>
        <article>
          <h3>PROBLEM STATEMENTS:</h3>

          <p>•	They did not implement the deployment process.</p>
          <p>•	They implemented simple method. They did not Implement Convolution neural network and Artificial neural network.</p>
          <p>•	They did not do image preprocessing process.</p>
          <p>•	They did not do data visualization process.</p>
          <p>•	 They did not do data analysis process by using Plot and Graphs.</p>
          <p>•	They did not compared more than an architecture to getting better accuracy level. </p>
          <p>•	They did not figure out performance metrics.</p>
          <p>•	The accuracy level and performance level are low. </p>
          <p>•	They did not train the training data to computer properly.</p>


           
          <h3>PROBLEM STATEMENTS SOLUTIONS:</h3>

          <p>•	We implemented the deployment process by using Frontend codes like Html, Css, Bootstrap and Python Framework like Django or Flask.</p>
          <p>•	We implemented image preprocessing process by using Rescale, Horizontal flip, Shear range and Zoom range.</p>
          <p>•	We implemented data analysis process by using Plot and Graphs.</p>
          <p>•	We compared more than a two architecture to getting better accuracy level.</p>
          <p>•	We figure out performance metrics value properly.</p>
          <p>•	We improved the accuracy level and performance level. </p>
          <p>•	We implemented Convolution neural network and Artificial neural network concept properly.</p>
          <p>•	We implemented data analysis process by using Plot and Graphs.</p>
          <p>•	We did train the training data to computer properly. We implemented the test data to testing the output values.</p>
            




          
          

        </article>
        
        </body>
    
</body>
</html>